# Build files
/target/

# IDE
.idea/
.vscode/
*.iml

# OS systémové súbory
.DS_Store
Thumbs.db

# Veľké OCR súbory – nechceme ich pushovať na GitHub
src/main/resources/tessdata/osd.traineddata
src/main/resources/tessdata/equ.traineddata
src/main/resources/tessdata/chi_sim.traineddata

